<div id="<%= dom_id engine %>">
  <p>
    <strong>Cylinders:</strong>
    <%= engine.num_cylinders %>
  </p>

  <p>
    <strong>Valves per cylinder:</strong>
    <%= engine.valves_per_cylinder %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= engine.name %>
  </p>

  <p>
    <strong>Intake clearance:</strong>
    <%= engine.intake_min %> - <%= engine.intake_max %>
  </p>

  <p>
    <strong>Exhaust clearance:</strong>
    <%= engine.exhaust_min %> - <%= engine.exhaust_max %>
  </p>

</div>
