<div id="<%= dom_id engine %>">
  <p>
    <strong>Cylinders:</strong>
    <%= engine.num_cylinders %>
  </p>

  <p>
    <strong>Valves per cylinder:</strong>
    <%= engine.valves_per_cylinder %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= engine.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= engine.model %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= engine.nickname %>
  </p>

  <p>
    <strong>Intake clearance:</strong>
    <%= engine.intake_min %> - <%= engine.intake_max %>
  </p>

  <p>
    <strong>Exhaust clearance:</strong>
    <%= engine.exhaust_min %> - <%= engine.exhaust_max %>
  </p>

  <p>
    <strong>Valve shims populated:</strong>
    <%= engine.lacks_shims? ? "No" : "Yes" %>
  </p>

  <p>
    <strong>Latest valve adjustment</strong>:
    <%= engine.latest_adjustment&.completed? ? engine.latest_adjustment.adjustment_date : "n/a" %>
  </p>
</div>
