= form_for @engine do |f|
  = f.hidden_field :user_id

  - if @engine.errors.any?
    #error_explanation
      %h2= "#{pluralize(@engine.errors.count, "error")} prohibited this engine from being saved:"
      %ul
        - @engine.errors.full_messages.each do |message|
          %li= message

  - unless @engine.persisted?
    .field
      = f.label :cylinders
      = f.select :cylinders, %i[ 1 2 4 ]
    .field
      = f.label :valves_per_cylinder
      = f.select :valves_per_cylinder, %i[ 2 4 ]
  - else
    %p Note: delete this engine if you need to change the cylinders or valves per cylinder

    .field
      = "Cylinders #{ @engine.cylinders }"
    .field
      = "Valves per cylinder #{ @engine.valves_per_cylinder }"

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
