<%= form_with(model: engine) do |form| %>
  <%= form.hidden_field :user_id %>

  <% if engine.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(engine.errors.count, "error") %> prohibited this engine from being saved:</h2>

      <ul>
        <% engine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cylinders, style: "display: block" %>
    <%= form.select :cylinders, %i[ 1 2 4 ] %>
  </div>

  <div>
    <%= form.label :valves_per_cylinder, style: "display: block" %>
    <%= form.select :valves_per_cylinder, %i[ 2 4 ] %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
