%p
  %b Name:
  = @engine.name
%p
  %b Cylinders:
  = @engine.cylinders
%p
  %b Valves per cylinder:
  = @engine.valves_per_cylinder
%p
  %b Intake clearance:
  = "#{ @engine.intake_min } - #{ @engine.intake_max }"
%p
  %b Exhaust clearance:
  = "#{ @engine.exhaust_min } - #{ @engine.exhaust_max }"

= link_to "Add shim", new_engine_shim_path(@engine)

= link_to 'Edit', edit_engine_path(@engine)
\|
= link_to 'Back', engines_path
