<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>

    <% if Rails.env.development? %>
      <div id="breakpoints" class="d-flex">
        <div class="d-inline d-sm-none">X-Small</div>
        <div class="d-none d-sm-inline d-md-none">Small</div>
        <div class="d-none d-md-block d-lg-none">Medium</div>
        <div class="d-none d-lg-inline d-xl-none">Large</div>
        <div class="d-none d-xl-inline d-xxl-none">X-Large</div>
        <div class="d-none d-xxl-inline">XX-Large</div>
      </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <%= link_to "Home", :root, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.present? %>
              <%= current_user.email %>
            <% else %>
              Signed out
            <% end %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= link_to "My engines", engines_path, class: "dropdown-item" %>
              <%= link_to "Change password", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>