<%= centered_content do %>
  <h1>Welcome to valveadjustments.com</h1>

  <br>

  <p>
    This site was created to help making valve adjustments easier for
    <%= link_to "shim-under-bucket", "https://www.revzilla.com/common-tread/why-do-bikes-use-shim-under-bucket-valve-adjusters", target: :_blank %>
    engines.
    <br>
    It can be a
    <%= link_to "laborious process", "https://www.hagerty.com/media/maintenance-and-tech/laborious-diy-process-of-valve-adjustment-in-a-shimmed-engine/", target: :_blank %>.
  </p>

  <p>
    Simply enter the type of engine you have, your current measurements and shim sizes,
    and this will let you know which shims are needed to bring your engine back in specification.
  </p>

  <p>
    No login required, but you can sign up to save your engines.
  </p>

  <p>
    <% if current_or_anon_user&.engines&.present? %>
      Select an engine <br>

      <ul>
        <% current_or_anon_user.engines.each do |engine| %>
          <li><%= link_to engine_name(engine), engine_path(engine)  %></li>
        <% end %>
      </ul>

      <%= link_to "Or create an engine", new_engine_path %>

      <% if anonymous_user&.engines&.present? %>
        <%= link_to "Create an account to save your engine", sign_up_to_save_path %>
      <% end %>

    <% elsif current_user.blank? %>
      <%= link_to "Sign in", new_user_session_path %> or
      <%= link_to "Create an engine", new_engine_path, data: { turbo: false } %>
    <% elsif current_user.present? %>
      <%= link_to "Create an engine", new_engine_path, data: { turbo: false } %>
    <% end %>
  </p>
<% end %>