<h1>Welcome to Motorcycle Shims</h1>

<% if current_user.present? %>
  <h2>Welcome back <%= current_user.email %></h2>
<% end %>

<% if current_user.blank? %>
  <%= link_to "Sign in", new_user_session_path %>
<% elsif current_user.engines.blank? %>
  <%= link_to "Create an engine", new_engine_path %>
<% else %>
  <p>
    Select an engine <br>

    <ul>
      <% current_user.engines.each do |engine| %>
        <li><%= link_to engine.name, engine_path(engine)  %></li>
      <% end %>
    </ul>

    <%= link_to "Or create an engine", new_engine_path %>
  </p>
<% end %>