= form_for @shim do |f|
  - if @shim.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shim.errors.count, "error")} prohibited this shim from being saved:"
      %ul
        - @shim.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :engine
    = f.text_field :engine
  .field
    = f.label :size_mm
    = f.number_field :size_mm
  .field
    = f.label :in_use
    = f.check_box :in_use
  .field
    = f.label :cylinder
    = f.number_field :cylinder
  .field
    = f.label :valve
    = f.text_field :valve
  .field
    = f.label :valve_num
    = f.number_field :valve_num
  .actions
    = f.submit 'Save'
