%h1 Listing shims

%table
  %thead
    %tr
      %th Engine
      %th Size mm
      %th In use
      %th Cylinder
      %th Valve
      %th Valve num
      %th
      %th
      %th

  %tbody
    - @shims.each do |shim|
      %tr
        %td= shim.engine
        %td= shim.size_mm
        %td= shim.in_use
        %td= shim.cylinder
        %td= shim.valve
        %td= shim.valve_num
        %td= link_to 'Show', shim
        %td= link_to 'Edit', edit_shim_path(shim)
        %td= link_to 'Destroy', shim, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Shim', new_shim_path
