<%
  new_shim = Shim.new(engine: @engine)
  if params[:choose_shims]
    unused_shims = valve_shim_calculator.unused_shims
  else
    unused_shims = Shim.unused_for_engine(@engine)
  end
%>

<div id="shims-container">
  <%= field_set_tag "Available shims" do %>
    <ul>
      <% if unused_shims.blank? %>
        <li>None available</li>
      <% else %>
        <% unused_shims.each do |shim| %>
          <li><%= shim.thickness %>
            <% if user_session["debug"] %>
              - <%= shim.id %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <%= form_with(model: new_shim, url: [@engine, new_shim], id: "new-shim") do |form| %>
    <%= hidden_field_tag :valve_adjustment_id, valve_adjustment.id %>
    <%= field_set_tag "Add new shim to valve adjustment" do %>
      <div>
        <%= form.label :thickness, style: "display: block" %>
        <%= form.text_field :thickness %>
      </div>
      <div>
        <%= form.submit "Add shim" %>
      </div>
    <% end %>
  <% end %>
</div>