<%
  if params[:choose_shims]
    unused_shims = valve_shim_calculator.unused_shims
  else
    unused_shims = Shim.unused_for_engine(@engine)
  end
%>

<div id="shims-container">
  <%= field_set_tag "Available shims" do %>
    <ul>
      <% if unused_shims.blank? %>
        <li>None available</li>
      <% else %>
        <% unused_shims.each do |shim| %>
          <li><%= shim.thickness %>
            <% if session[:debug] %>
              - <%= shim.id %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <%= form_with(model: Shim, url: create_shim_engine_valve_adjustment_path, data: shim_data_controller) do |form| %>
    <%= field_set_tag "Add new shim to valve adjustment" do %>
      <%= form_errors_element(:shim) %>

      <div>
        <%= form.label :thickness, style: "display: block" %>
        <%= form.number_field :thickness, data: { shim_target: "thickness" } %>
      </div>
      <div>
        <%= form.submit "Add shim" %>
      </div>
    <% end %>
  <% end %>
</div>