<h3>Cylinders</h3>

<div class="row">
  <div class="col">
    <table class="table table-sm valve-adjustment">
      <tr>
        <th>Valve name</th>
        <% if session[:debug] %>
          <th>Valve ID</th>
        <% end %>
        <th>Current gap</th>
        <th>Current shim</th>
        <% if session[:debug] %>
          <th>Shim ID</th>
        <% end %>
        <th>Shim range <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Thinner is better"></i></th>
        <th>Using shim</th>
      </tr>

      <% @engine.cylinders.each_with_index do |cylinder, cyl_index| %>
        <tr>
          <td colspan="5" class="py-2">Cylinder <%= cyl_index %></td>
        </tr>

        <% cylinder.valves.each do |valve| %>
          <% shim = params[:choose_shims] ? @valve_adjustment.proposed_shim(valve) : @valve_adjustment.shim_from_state(valve) %>
          <% valve_attrs = valve_adjust_attrs(@valve_adjustment.valve_status(valve)) %>
          <tr valve-id="<%= valve.id %>">
            <td class="valve <%= valve_attrs[:class] %>" data-bs-toggle="tooltip" data-bs-placement="left" title="<%= valve_attrs[:title] %>">
              <%= label_tag valve_form_label(valve) %>
            </td>

            <% if session[:debug] %>
              <td><%= valve.id %></td>
            <% end %>

            <td>
              <%= @valve_adjustment.pending? ? @valve_adjustment.gap_from_state(valve) : valve.gap %>
            </td>

            <% if params[:choose_shims] %>
              <% old_shim_attrs = valve_adjust_attrs(@valve_adjustment.shim_status(valve, valve.shim)) %>
              <td class="shim <%= shim&.id != valve.shim.id && "old-shim" %>" title="<%= old_shim_attrs[:title] %>">
                <%= valve.shim.thickness %>
              </td>
            <% else %>
              <td>
                <%= valve.shim.thickness %>
              </td>
            <% end %>

            <% if session[:debug] %>
              <td><%= valve.shim.id %></td>
            <% end %>

            <td><%= valve.gap.present? ? @valve_adjustment.new_shim_thickness_range(valve) : '-' %></td>

            <% if shim %>
              <% shim_attrs = valve_adjust_attrs(@valve_adjustment.shim_status(valve, shim)) %>
              <td class="shim <%= shim_attrs[:class] %>" title="<%= shim_attrs[:title] %>" data-bs-toggle="tooltip" data-bs-placement="left">
                <span >
                  <%= shim.thickness %>
                </span>

                <% if session[:debug] %>
                  - <%= shim.id %>
                <% end %>
              </td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>