<div class="row">
  <div class="col-sm-6">
    <%= render "add_new_shim", valve_adjustment: @valve_adjustment, valve_shim_calculator: @valve_shim_calculator %>
  </div>
  <div class="col-sm-6">
    <h3>Actions</h3>

    <% if @valve_adjustment.pending? %>
      <div class="row mb-3" data-valve-adjustment-target="completeAdjustment">
        <div class="col-sm-12">
          Does everything look good?
        </div>
        <div class="col-sm-12">
          <%= link_to "Complete adjustment", complete_engine_valve_adjustment_path(@engine, @valve_adjustment), class: "btn btn-primary", data: { "turbo-frame": "_top", "turbo-method": :put } %>
        </div>
      </div>
      <div class="row mb-3" data-valve-adjustment-target="makeAdjustment">
        <div class="col-sm-12">
          Need to make adjustments?
        </div>
        <div class="col-sm-12">
          <%= button_to "Enable shim adjustments", { action: :update_in_progress }, method: :put, params: { valve_adjustment: { status: ValveAdjustment::NEEDS_GAPS } }, class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <% unless @valve_shim_calculator.shims_applied? %>
        <div class="col-sm-12">
          Ready to auto-assign new shims?
        </div>
        <div class="col-sm-12">
          <%= link_to "Pick my shims", adjust_engine_valve_adjustment_path(@engine, @valve_adjustment, choose_shims: true), class: "btn #{ @valve_adjustment.pending? && "disabled" } #{ params[:choose_shims] ? "btn-outline-primary" : "btn-primary" }", data: { valve_adjustment_target: "pickShims" } %>
        </div>
      <% else %>
        <div class="col">
          <%= link_to "Save and re-measure gaps", update_shims_engine_valve_adjustment_path(@engine, valve_adjustment_id: @valve_adjustment.id), class: "btn btn-primary", data: { "turbo-frame": "_top", "turbo-method": :put }  %>
        </div>
      <% end %>
    </div>
  </div>
</div>