<% valve_shim_calculator = ValveAdjustments::Calculator.new(@engine) %>
<table>
  <tr><td>Intake </td><td><%= @engine.intake_min %> - <%= @engine.intake_max %></td></tr>
  <tr><td>Exhaust </td><td><%= @engine.exhaust_min %> - <%= @engine.exhaust_max %></td></tr>

  <% @engine.cylinders.each_with_index do |cylinder, cyl_index| %>
    <tr><td colspan="4">Cylinder <%= cyl_index %></td></tr>

    <% cylinder.valves.each do |valve| %>
      <tr>
        <td style="color: <%= valve_shim_calculator.valve_style(valve) %>"><%= label_tag valve_form_label(valve) %> gap</td>
        <td><%= valve.gap %></td>
        <td>Current shim</td>
        <td><%= valve.shim.thickness %></td>
      </tr>
    <% end %>
  <% end %>
</table>