<%= form_with(model: valve_adjustment, url: [ @engine, valve_adjustment ]) do |form| %>
  <% if valve_adjustment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(valve_adjustment.errors.count, "error") %> prohibited this valve_adjustment from being saved:</h2>

      <ul>
        <% valve_adjustment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    For my <%= @engine.name %>
    <br>
  </div>

  <div>
    <%= form.label :mileage, "Mileage (miles)", style: "display: block" %>
    <%= form.number_field :mileage %>
  </div>

  <div>
    <%= form.label :adjustment_date, style: "display: block" %>
    <%= form.date_field :adjustment_date, value: Time.zone.now.to_date %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <%= render "adjustment_table" unless @engine.lacks_shims? %>
<% end %>

<%= render "add_new_shim", valve_adjustment: valve_adjustment %>
