<div id="<%= dom_id valve_adjustment %>">
  <p>
    <strong>Engine:</strong>
    <%= valve_adjustment.engine.name %>
  </p>

  <p>
    <strong>Mileage:</strong>
    <%= valve_adjustment.mileage %>
  </p>

  <p>
    <strong>Adjustment date:</strong>
    <%= valve_adjustment.adjustment_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= valve_adjustment.notes %>
  </p>

</div>
