<table class="table">
  <tr>
    <th>
      Unused shims
    </th>
  </tr>
  <% if valve_adjustment.unused_shim_thickness_from_state.none? %>
    <td>
      n/a
    </td>
  <% else %>
    <% valve_adjustment.unused_shim_thickness_from_state.each do |thickness| %>
      <tr>
        <td><%= thickness %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<table class="table">
  <tr>
    <th>Valve</th>
    <th>Gap</th>
    <th>Shim thickness</th>
  </tr>
  <%# todo: fix ugly iteration %>
  <% valve_adjustment.valves_and_cylinders.each do |cylinder, valve_gap_thickness| %>
    <tr>
      <th colspan="3">Cylinder <%= cylinder.cylinder_num %></th>
    </tr>
    <% valve_gap_thickness.each do |values| %>
      <tr>
        <td><%= valve_form_label(values['valve']) %></td>
        <td><%= values['gap'] %></td>
        <td><%= values['shim_thickness'] %></td>
      </tr>
    <% end %>
  <% end %>
</table>