<p style="color: green"><%= notice %></p>

<%= render @valve_adjustment %>

<div>
  <%= link_to "Edit this valve adjustment", edit_engine_valve_adjustment_path(@engine, @valve_adjustment) %> |
  <%= link_to "Back to valve adjustments", engine_valve_adjustments_path(@engine) %>

  <%= button_to "Destroy this valve adjustment", [ @engine, @valve_adjustment ], method: :delete %>
</div>
