<!DOCTYPE html>
<html lang="en">
<head>
  <title>Valve Adjustments Calculator</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= render "snippets/rollbar" if Rails.env.production? %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="<%= controller_name %>_controller">
  <%# bootstrap layout from https://github.com/StartBootstrap/startbootstrap-simple-sidebar %>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <%= render "sidebar" %>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
      <!-- Top navigation-->
      <%= render "top_nav" %>
      <!-- Page content-->
      <div class="container">
        <% if @breadcrumbs.present? %>
          <div class="row">
            <nav aria-label="breadcrumb" class="p-3">
              <ol class="breadcrumb">
                <% (@breadcrumbs || []).each do |(text, link)| %>
                  <% if link.present? %>
                    <li class="breadcrumb-item"><%= link_to text, link %></li>
                  <% else %>
                    <li class="breadcrumb-item active" aria-current="page"><%= text %></li>
                  <% end %>
                <% end %>
              </ol>
            </nav>
          </div>
        <% end %>

        <% [ [ alert, :danger ], [ notice, :success ] ].each do |message, alert_class| %>
          <% if message.present? %>
            <div class="alert alert-<%= alert_class %>" role="alert">
              <%= message %>
            </div>
          <% end %>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
