<!DOCTYPE html>
<html lang="en">
<head>
  <title>Valve Shim Calculator</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="<%= controller_name %>_controller">
  <%# bootstrap layout from https://github.com/StartBootstrap/startbootstrap-simple-sidebar %>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <%= render "sidebar" %>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
      <!-- Top navigation-->
      <%= render "top_nav" %>
      <!-- Page content-->
      <div class="container-fluid">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <% @breadcrumbs.each do |(text, link)| %>
              <% if link.present? %>
                <li class="breadcrumb-item"><%= link_to text, link %></li>
              <% else %>
                <li class="breadcrumb-item active" aria-current="page"><%= text %></li>
              <% end %>
            <% end %>
          </ol>
        </nav>
        
        <p style="color: red"><%= alert %></p>
        <p style="color: green"><%= notice %></p>

        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
